{% extends 'base.html' %}

{% block content %}
    <div>
        <p class="title-about">ABOUT US</p>
    </div>

    <div class="description-us">

        <div class="div-about-image">
            <img src="static/images/sandy.PNG" width="340" height="320">
            <p>Sandy Nguyen <br> Computer Science, Mcgill University U1</p>
        </div>

        <div class="div-about-image">
            <img src="static/images/victor.PNG" width="380" height="320">
            <p>Victor Ouy<br> Computer Science, Dawson College Y3</p>
        </div>

        <div class="div-about-image">
            <img src="static/images/anna.PNG" width="380" height="320">
            <p>Anna Zhang<br> Computer Science, Mcgill University U1</p>
        </div>

        <div class="div-about-image">
            <img src="static/images/lin.PNG" width="380" height="320">
            <p>Lin Yuan<br> Computer Science, Mcgill University U1</p>
        </div>
    
    </div>
    
    <div class="about-text">
        As four Canadian students trying to pave our way in this unexpected world, we wanted to create a website that emphasizes on mental health awareness. 
        Inspired by the pandemic that impacted many people’s mental health, raising our voices about the importance of mental health sounded like a good 
        first step toward its awareness. We want people to feel comfortable surfing and learning more through our interactive website made for everyone. 
        With that being said, welcome to Mental Health Alphabet.
    </div>
{% endblock %}