{% extends 'base.html' %}

{% block content %}
    <div>
        <ul class="alphabet-cards-ul first-cards"" >
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card">
                    <div class="card-header"><h2><b class="first-letter-font">A </b>nxiety</h2></div>
                    <div>
                        <img src="/static/images/testing.jpg" width="366" height="411"></img>
                    </div>
                  </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card">
                    <div class="card-header"><h2><b class="first-letter-font">B </b>ipolar disorde</h2></div>
                    <div class="card-body">

                    </div>
                  </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card">
                    <div class="card-header"><h2><b class="first-letter-font">C </b>onduct disorder</h2></div>
                    <div class="card-body">

                    </div>
                  </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card">
                    <div class="card-header"><h2><b class="first-letter-font">D </b>epression</h2></div>
                    <div class="card-body">

                    </div>
                  </div>
            </li>
        </ul>
        
        <ul class="alphabet-cards-ul first-cards"" >
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card">
                    <div class="card-header"><h2><b class="first-letter-font">E </b>ating disorder</h2></div>
                    <div>
                        <img src="/static/images/E.jpg" width="366" height="411"></img>
                    </div>
                  </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card">
                    <div class="card-header"><h2><b class="first-letter-font">F </b>ear (phobia)</h2></div>
                    <div class="card-body">

                    </div>
                  </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card">
                    <div class="card-header"><h2><b class="first-letter-font">G </b>rief</h2></div>
                    <div class="card-body">

                    </div>
                  </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card">
                    <div class="card-header"><h2><b class="first-letter-font">H </b>allucinations</h2></div>
                    <div class="card-body">

                    </div>
                  </div>
            </li>
        </ul>
    </div>
{% endblock %}