{% extends 'base.html' %}

{% block content %}
    <div class="alphabet-page">
        <ul class="alphabet-cards-ul first-cards" >
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card purple-card front">
                    <div class="card-header"><h2><b class="first-letter-font">A</b>nxiety</h2></div>
                    <div>
                        <img src="/static/images/A.PNG" width="365" height="440"></img>
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card purple-card back">
                    <div class="card-header"><h2><b class="first-letter-font">A</b>nxiety</h2></div>
                    <div class="card-text">
                        <p>Anxiety is your body’s natural response to stress and can be experienced differently, 
                            ranging from a general feeling of worry to rapid breathing and a racing heart. An anxiety disorder is when this feeling of fear is with you all the time.</p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card green-card front">
                    <div class="card-header"><h2><b class="first-letter-font">B</b>ipolar disorder</h2></div>
                    <div>
                        <img style="padding-left: 3.2em; padding-top: 2em;" src="/static/images/B.PNG" width="310" height="370"></img>
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card green-card back">
                    <div class="card-header"><h2><b class="first-letter-font">B</b>ipolar disorder</h2></div>
                    <div class="card-text">
                        <p>Bipolar disorder is a lifelong mental health condition where a person can have extreme mood swings: emotional highs and lows. A person experiencing an emotional high (hypomania or mania) is often energetic and irritable while someone in an emotional low (depression) feels hopeless and loses interest in activities that they usually enjoy. </p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card blue-card front">
                    <div class="card-header"><h2><b class="first-letter-font">C</b>onduct disorder</h2></div>
                    <div>
                        <img style="padding-left: 3em; padding-top: 1em;" src="/static/images/C.PNG" width="330" height="400"></img>
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card blue-card back">
                    <div class="card-header"><h2><b class="first-letter-font">C</b>onduct disorder</h2></div>
                    <div class="card-text">
                        <p>Conduct disorder is a type of mental disorder where the person ignores basic social conduct rules and presents repetitive behavioral patterns such as aggressivity, often violating the right of others.</p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card yellow-card front">
                    <div class="card-header"><h2><b class="first-letter-font">D</b>epression</h2></div>
                    <div>
                        <img style="padding-left: 3em; padding-top: 2em;" src="/static/images/D.PNG" width="320" height="370"></img>
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card yellow-card back">
                    <div class="card-header"><h2><b class="first-letter-font">D</b>epression</h2></div>
                    <div class="card-text">
                        <p>Depression is a mood disorder where the person has feelings of sadness and emptiness. It affects the person’s daily emotions and behaviours. When severe, depression can affect the person’s day-to-day activities. </p>
                    </div>
                </div>
            </li>
        </ul>
        
        <ul class="alphabet-cards-ul first-cards" >
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card blue-card front">
                    <div class="card-header"><h2><b class="first-letter-font">E</b>ating disorder</h2></div>
                    <div>
                        <img style="padding-left: 3em; padding-top: 1.5em;" src="/static/images/E.PNG" width="320" height="370"></img>
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card blue-card back">
                    <div class="card-header"><h2><b class="first-letter-font">E</b>ating disorder</h2></div>
                    <div class="card-text">
                        <p>An eating disorder is when a person has persistent eating behaviors due to concerns about their body image. There are 3 main categories: anorexia nervosa (when a person is really afraid of gaining weight and has a distorted view of their body shape), bulimia nervosa (when a person is stuck in a vicious cycle of bingeing and purging) or binge-eating disorder (when a person cannot control themselves to stop eating)</p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card yellow-card front">
                    <div class="card-header"><h2><b class="first-letter-font">F</b>ear (phobia)</h2></div>
                    <div>
                        <img style="padding-left: 1em; padding-top: 1.5em;" src="/static/images/F.PNG" width="350" height="390"></img>
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card yellow-card back">
                    <div class="card-header"><h2><b class="first-letter-font">F</b>ear (phobia)</h2></div>
                    <div class="card-text">
                        <p>A phobia is a fear of something that’s most probably not going to cause harm, but can cause distress to the person. This can be problematic if it affects the person’s daily life. There are 5 general categories of phobia: fears related to animals, to the environment, to health issues, to specific situations (like flying), and to other, such as loud noises.</p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card green-card front">
                    <div class="card-header"><h2><b class="first-letter-font">G</b>rief</h2></div>
                    <div>
                        <img style="padding-left: 3.5em; padding-top: 2.5em;" src="/static/images/G.PNG" width="315" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card green-card back">
                    <div class="card-header"><h2><b class="first-letter-font">G</b>rief</h2></div>
                    <div class="card-text">
                        <p>Grief is an overwhelming feeling of suffering due to the loss of someone you love. Its symptoms include shock, anger and profound sadness. It has five stages: denial, anger, bargaining, depression and acceptance. Grief can also be subtle losses like leaving your hometown or graduating from college. </p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card purple-card front">
                    <div class="card-header"><h2><b class="first-letter-font">H</b>allucinations</h2></div>
                    <div>
                        <img src="/static/images/H.PNG" width="365" height="410">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card purple-card back">
                    <div class="card-header"><h2><b class="first-letter-font">H</b>allucinations</h2></div>
                    <div class="card-text">
                        <p>Hallucinations are usually symptoms of mental illnesses (ex: schizophrenia) or physical illnesses (ex: epilepsy), where sensory experiences may feel real, but are only the result of your imagination. Hallucination can be caused by substance uses, lack of sleep and medications.</p>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="alphabet-cards-ul first-cards" >
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card green-card front">
                    <div class="card-header"><h2><b class="first-letter-font">I</b>nsomia</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 1.5em;" src="/static/images/I.PNG" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card green-card back">
                    <div class="card-header"><h2><b class="first-letter-font">I</b>nsomia</h2></div>
                    <div class="card-text">
                        <p>Insomnia is a sleep disorder where you have trouble falling asleep or getting back to sleep. Short-term insomnia is often caused by stress or trauma. It affects your energy level, emotions, moods; the overall quality of life.  </p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card blue-card front">
                    <div class="card-header"><h2><b class="first-letter-font">J</b>ealous delusions</h2></div>
                    <div>
                        <img style="padding-left: 2em; padding-top: 5.5em;" src="/static/images/J.PNG" width="330" height="280">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card blue-card back">
                    <div class="card-header"><h2><b class="first-letter-font">J</b>ealous delusions</h2></div>
                    <div class="card-text">
                        <p>A person with jealous delusional disorder is convinced that their spouse is unfaithful, even if they don’t have any proof. This can cause many problems within the relationship. Induviduals who feel this way should not be judge or looked down upon as it is just like any other mental disorder. However, due to society's standards, many are provoked and given a label, such as insecure.</p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card yellow-card front">
                    <div class="card-header"><h2><b class="first-letter-font">K</b>leptomania</h2></div>
                    <div>
                        <img style="padding-left: 3em; padding-top: 5.5em;" src="/static/images/K.PNG" width="330" height="290">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card yellow-card back">
                    <div class="card-header"><h2><b class="first-letter-font">K</b>leptomania</h2></div>
                    <div class="card-text">
                        <p>A person with kleptomania cannot resist impulses to steal items that have little value and which they don’t truly need. Also, the diagnosis cannot be used as a legal defense.</p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card blue-card front">
                    <div class="card-header"><h2><b class="first-letter-font">L</b>earning disorder</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 2em;" src="/static/images/L.PNG" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card blue-card back">
                    <div class="card-header"><h2><b class="first-letter-font">L</b>earning disorder</h2></div>
                    <div class="card-text">
                        <p>A learning disorder can prevent a person from learning which affects their ability to read and write. They are of average intelligence, but their brains are wired in a way that they understand things differently.</p>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="alphabet-cards-ul first-cards" >
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card yellow-card front">
                    <div class="card-header"><h2><b class="first-letter-font">M</b>ood disorder</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 1.5em;" src="/static/images/M.PNG" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card yellow-card back">
                    <div class="card-header"><h2><b class="first-letter-font">M</b>ood disorder</h2></div>
                    <div class="card-text">
                        <p>A mood disorder is an umbrella term used to describe all types of depression and bipolar disorders. A person usually feels empty and irritable, and their feelings might interfere with their daily life. </p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card green-card front">
                    <div class="card-header"><h2><b class="first-letter-font">N</b>arcissism</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 1.5em;" src="/static/images/N.PNG" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card green-card back">
                    <div class="card-header"><h2><b class="first-letter-font">N</b>arcissism</h2></div>
                    <div class="card-text">
                        <p>Narcissistic personality disorder is a type of personality disorder where someone has a big ego, needs a lot of attention and often lacks empathy towards others. However, behind a narcissist hides a fragile, self-conscious and insecure person.</p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card blue-card front">
                    <div class="card-header"><h2><b class="first-letter-font">O</b>bsessive compulsive disorder</h2></div>
                    <div>
                        <img style="padding-left: 1.8em; padding-top: 1.5em;" src="/static/images/O.PNG" width="330" height="330">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card blue-card back">
                    <div class="card-header"><h2><b class="first-letter-font">O</b>bsessive compulsive disorder</h2></div>
                    <div class="card-text">
                        <p>A person with obsessive compulsive disorder is unable to control their thoughts and fears, which could cause them stress and anxiety. The unwanted thoughts are often persistent and lead to repetitive behaviours, such as counting and hand washing, that could interfere with their daily life.</p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card purple-card front">
                    <div class="card-header"><h2><b class="first-letter-font">P</b>ost traumatic stress disorder</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 1.5em;" src="/static/images/P.PNG" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card purple-card back">
                    <div class="card-header"><h2><b class="first-letter-font">P</b>ost traumatic stress disorder</h2></div>
                    <div class="card-text">
                        <p>Post traumatic stress disorder is usually triggered by experiencing or witnessing a traumatizing event. A person with PTSD can have flashbacks or nightmares about the event, which can prevent them from experiencing situations that remind them of that event.</p>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="alphabet-cards-ul first-cards" >
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card purple-card front">
                    <div class="card-header"><h2><b class="first-letter-font">Q</b>uarantine</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 1.5em;" src="/static/images/Q.png" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card purple-card back">
                    <div class="card-header"><h2><b class="first-letter-font">Q</b>uarantine</h2></div>
                    <div class="card-text">
                        <p>Many of us are facing challenges due to the COVID-19 pandemic and lockdown. Stress over the virus and social isolation could cause or amplify certain mental health conditions due to the barriers to resources and services.</p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card blue-card front">
                    <div class="card-header"><h2><b class="first-letter-font">R</b>ecovery</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 1.5em;" src="/static/images/R.PNG" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card blue-card back">
                    <div class="card-header"><h2><b class="first-letter-font">R</b>ecovery</h2></div>
                    <div class="card-text">
                        <p>Yes, people can recover from mental illnesses and the meaning of recovery can vary from person to person. One way to define recovery is gaining control over the condition and working towards a positive and fulfilling life.</p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card green-card front">
                    <div class="card-header"><h2><b class="first-letter-font">S</b>chizophreniar</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 1.5em;" src="/static/images/S.PNG" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card green-card back">
                    <div class="card-header"><h2><b class="first-letter-font">S</b>chizophreniar</h2></div>
                    <div class="card-text">
                        <p>Schizophrenia is a serious mental disorder in which a person interprets reality differently, experiences delusions and hallucinations, hears voices, and has disorganized speech. The causes of schizophrenia are unknown, but believed to be due to genetics. </p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card yellow-card front">
                    <div class="card-header"><h2><b class="first-letter-font">T</b>herapy</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 1.5em;" src="/static/images/T.PNG" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card yellow-card back">
                    <div class="card-header"><h2><b class="first-letter-font">T</b>herapy</h2></div>
                    <div class="card-text">
                        <p>Treatments for mental illnesses aim to reduce symptoms rather than offering a cure. Some possible treatments include medications and psychotherapy, also called “therapy”. It is usually a meeting between a patient and a professional to resolve mental health issues. </p>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="alphabet-cards-ul first-cards" >
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card blue-card front">
                    <div class="card-header"><h2><b class="first-letter-font">U</b>nable to focus</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 1.5em;" src="/static/images/U.PNG" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card blue-card back">
                    <div class="card-header"><h2><b class="first-letter-font">U</b>nable to focus</h2></div>
                    <div class="card-text">
                        <p>Unable to focus (ADHD): ADHD is a mental health disorder where a person can have hyperactive behaviors and trouble in keeping their focus on a particular task. The cause is still unknown, but it is believed to be genetics.</p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card green-card front">
                    <div class="card-header"><h2><b class="first-letter-font">V</b>iolence</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 1.5em;" src="/static/images/V.PNG" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card green-card back">
                    <div class="card-header"><h2><b class="first-letter-font">V</b>iolence</h2></div>
                    <div class="card-text">
                        <p>Contrary to public opinion, mental disorders are not causes of violence and people living with mental health conditions are no more dangerous than the general population. However, experiencing violence such as physical or sexual abuse, especially at a young age is linked to negative mental health outcomes at adulthood and can cause conditions such as depression and PTSD. 
                            </p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card purple-card front">
                    <div class="card-header"><h2><b class="first-letter-font">W</b>ithdrawal syndrome</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 1.5em;" src="/static/images/W.PNG" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card purple-card back">
                    <div class="card-header"><h2><b class="first-letter-font">W</b>ithdrawal syndrome</h2></div>
                    <div class="card-text">
                        <p>A person who reduces or stops consuming addictive substances such as drugs or alcohol could experience physical withdrawal symptoms, including fatigue, irritability,  and changes in appetite or mood. Severe cases of withdrawal symptoms include psychological ones like depression or dysphoria. </p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card blue-card front">
                    <div class="card-header"><h2><b class="first-letter-font">X</b>anax</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 1.5em;" src="/static/images/X.PNG" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card blue-card back">
                    <div class="card-header"><h2><b class="first-letter-font">X</b>anax</h2></div>
                    <div class="card-text">
                        <p>Xanax, or Alprazolam, is a tranquilizer drug with a sedating effect and is prescribed to treat anxiety or panic disorders. Though it can help many, this medication can also have addicting effects to some people.</p>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="alphabet-cards-ul first-cards" >
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card yellow-card front">
                    <div class="card-header"><h2><b class="first-letter-font">Y</b>oung onset dementia</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 1.5em;" src="/static/images/Y.PNG" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card yellow-card back">
                    <div class="card-header"><h2><b class="first-letter-font">Y</b>oung onset dementia</h2></div>
                    <div class="card-text">
                        <p>Dementia is an umbrella term to describe several symptoms of decline in memory and communication. The most common type is Alzheimer's disease, characterized by memory loss due to the death of brain cells. Young-onset dementia is a form of dementia affecting people under 65, usually in their middle ages.</p>
                    </div>
                </div>
            </li>
            <li class="li-cards">
                <div class="card text-white mb-3 letters-card blue-card front">
                    <div class="card-header"><h2><b class="first-letter-font">Z</b>oophobia</h2></div>
                    <div>
                        <img style="padding-left: 2.5em; padding-top: 1.5em;" src="/static/images/Z.PNG" width="330" height="360">
                    </div>
                </div>
                <div class="card text-white mb-3 letters-card blue-card back">
                    <div class="card-header"><h2><b class="first-letter-font">Z</b>oophobia</h2></div>
                    <div class="card-text">
                        <p>One of the 5 categories of phobia, Zoophobia is the fear of animals and includes fears such as arachnophobia, the fear of spiders. </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}