{% extends 'base.html' %}

{% block content %}
    <div class="top-border">
        <h1 class ="h1-contact"> Get Support </h1>

        <div class="contact-images">
            <img src="static/images/persoons1.JPG" width="250" height="300">
            <img src="static/images/persoons2.JPG" width="250" height="300">
            <img src="static/images/persoons3.JPG" width="250" height="300">
            <img src="static/images/persoons4.JPG" width="250" height="300">
        </div>

        
    <h2 class="h2-contact">
        You are not alone and your <br>
        well-being is important.
    </h2>


    <h3 class="h3-contact">
        <span class="purpl">If you are in immediate danger, please call 911 <br> 
            or go to your local emergency department.</span>
    </h3>

    <p class="p-contact">
        If you are in crisis or someone you know has <span class="purpl">suicidal</span> thoughts or <br> 
        behaviours: <span class="yel">Canada Suicide Prevention Service</span>
    <p>

    <div class="div-contact">
        <img src="static/images/phone.jpg" width="30" height="30">
        &nbsp 1-833-456-4566 (24/7)<br>
        
        <img src="static/images/message.jpg" width="40" height="40">
        &nbsp text 45645 (4 pm to 12 am ET)
        
        <h2 class="h2-contact">To get help and <span class="purpl">mental support</span>,<br> contact any of the resources below.<h2>
        To gain <span class="purpl">information</span> about mental health and therapy, visit<br><br>
        
        <span class="yel">Canadian Mental Health Association to find your local CMHA.</span><br>
        <img src="static/images/computer.PNG" width="40" height="40">
        <a href="https://cmha.ca/find-your-cmha" target="_blank">https://cmha.ca/find-your-cmha</a><br><br>

        <span class="yel">Association des psychothérapeutes psychanalytiques du Québec</span><br>
        <img src="static/images/computer.PNG" width="40" height="40">
        <a href="http://appq.com/target" target="_blank">http://appq.com/target/</a><br><br>

        <span class="yel">Ordre des psychologues du Québec</span><br>
        <img src="static/images/computer.PNG" width="40" height="40">
        <a href="https://www.ordrepsy.qc.ca/" target="_blank">https://www.ordrepsy.qc.ca/</a>
    </div>

    <h4 class="h4-contact">
        Helplines
    </h4>

    <div class="div-contact">
        <div class="support-text">
            <p>
                If you just want to talk with someone about current issues<br> 
                <span class="purpl">(loneliness, stress, relationships)</span>, contact <span class="yel">Tel-Aide</span> for<br> 
                anonymous and confidential support.<br>
                <img src="static/images/phone.jpg" width="30" height="30">
                &nbsp 514-935-1101 (27/4)
            </p>
        </div>

        <div class="support-text">
            <p>
                If you are aged 5 to 29 and need <span class="purpl">assistance</span> from professional<br>
                counsellors, contact <span class="yel">Kids Help Phone</span>:<br>
                <img src="static/images/phone.jpg" width="30" height="30">
                &nbsp 1-800-668-6868 (toll-free)<br>
                <img src="static/images/message.jpg" width="40" height="40">
                &nbsp text 686868<br>
                <img src="static/images/computer.PNG" width="40" height="40">
                <a href="https://kidshelpphone.ca/" target="_blank">https://kidshelpphone.ca/</a>
            
            </p>
        </div>

        <div class="support-text">
            <p>
                Help for <span class="purpl">Indigenous peoples</span>: <span class="yel">Hope for Wellness</span><br>
                <img src="static/images/phone.jpg" width="30" height="30">
                &nbsp 1-855-242-3310 (toll-free)<br> 
                <img src="static/images/computer.PNG" width="40" height="40">
                <a href="https://www.hopeforwellness.ca/" target="_blank">https://www.hopeforwellness.ca/</a>
                
            </p>
        </div>

        <div class="support-text">
            <p>
                A place for <span class="purpl">men <span>to discuss about mental health: <span class="yel">Tethr</span><br>
                <img src="static/images/computer.PNG" width="40" height="40">
                <a href="https://www.tethr.men/" target="_blank">https://www.tethr.men/</a><br>
                <div class="support-text">
            </p>
        </div>

        <div class="support-text">
            <p> 
                For <span class="purpl">eating disorders:</span> <span class="yel">National Eating Disorder Information Centre</span><br>
                <img src="static/images/phone.jpg" width="30" height="30">
                &nbsp 1-866-633-4220
            </p>
        </div>

        <div class="support-text">
            <p>
                For withdrawal symptoms and other <span class="purpl">drug</span> related issues: contact the<br>
                <span class="yel">Canada Drug Rehab Addiction Services Directory</span><br> 
                <img src="static/images/phone.jpg" width="30" height="30">
                &nbsp 1-866-462-6362.
            </p>
        </div>

        <div class="support-text">
            <p>
                Contact the <span class="yel">LGBT YouthLine</span> if you need support about mental health, <span class="purpl"><br>
                gender identity</span>/ orientation:<br>
                <img src="static/images/message.jpg" width="30" height="30">
                &nbsp text 647-694-4275 from Sunday to Friday, 4:00 pm - 9:30 pm EST
            </p>
        </div>

        <div class="support-text">
            <p>
                For further information on where to find help in Canada, visit<br>
                <a href="https://www.ctvnews.ca/health/mental-health-care-in-canada-where-to-find-help-1.3767445"target="_blank">https://www.ctvnews.ca/health/mental-health-care-in-canada-where-to-find-help-1.3767445</a>
            </p>
        </div>
    </div>
{% endblock %}