{% extends 'base.html' %}

{% block content %}
    <section class="intro-color">
        <div class="intro-text-div">
            <div class="text-info">
                <h1 class="title-home">MENTAL <br>HEALTH <br>AWARENESS</h1>
                <p class="text-white home-tex">"There is no health without mental health; mental health is too important to be left to the professionals alone, and mental health is everyone's business"<br>-Vikram Patel</p> 

                <a href="alphabet" class="btn btn-secondary btn-lg active bg-dark text-light" role="button">Learn more</a>
            </div>
        </div>

        <div class="div-home-image">
            <img src="static/images/home_image.PNG" width="900" height="660">
        </div>
    </section>

    <section class="bottom-home">
        <div class="bottom-title">
        <p>What to know about mental health?</p>
        </div>

        <div class="bottom-home-text">
            <p>Mental health conditions involve changes in <span style="color:#7774da;">emotion, thinking or behavior</span> (or a combination of these). They are associated with <span style="color:#7774da;">distress </span> and/or problems functioning in social, work or family activities</span>. Mental health conditions are very <span style="color:#7774da;">common </span>. These symptoms include <span style="color:#7774da;">mood swings, thinking and behavior</span>. Some examples of mental health conditions include depression, anxiety disorders, schizophrenia, eating disorders and addictive behaviors.
        </div>
        </p>
    </section>

    <section class="bottom-home">

        <div class="bottom-stats">

            <div class="stats">
                <p><span style="color:#7774da;">1 in 5</span></p>
            </div>

            <div class="stats-text">
                <p> Canadians experiences a mental illness or addiction problem.</p>
            </div>

        </div>

        <div class="bottom-stats">

            <div class="stats">
                <p><span style="color:#7774da;">4000 </span></p>
            </div>

            <div class="stats-text">
                <p>Canadians per year die by suicide – average of almost 11 suicides day.</p>
            </div>

        </div>

        <div class="bottom-stats">

            <div class="stats">
                <p><span style="color:#7774da;">40% </span></p>
            </div>

            <div class="stats-text">
                <p>of respondents to a 2016 survey agreed they have experienced feelings of anxiety or depression but never sought help for it.</p>
            </div>
        
        </div>
    </section>
{% endblock %}