{% extends 'base.html' %}

{% block content %}
    <section class="intro-color">
        <div class="intro-text-div">
            <h1 class="display-3 text-white title-home">Mental Health Awareness</h1>
            <div class="text-info">
                <p class="text-white"><i>What to know about mental health?</i></p>
                <p class="text-white">Mental health awareness means educating others on what mental illness is. Being aware not only helps you but also those who are living with it. 
                    Mental health awareness allows us to break the social bridge that separate us from the mentally ill.</p>
            </div>

            <a href="alphabet" class="btn btn-secondary btn-lg active bg-warning text-dark" role="button">Get Started</a>
        </div>
    </section>

    <section>

    </section>
{% endblock %}